html, body {
    height: 100%;
    margin: 0;
}

/* General Styles */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Ensure the main container fills the available space */
main.container {
    flex: 1;
}

/* Flexbox layout for .main-content to push the form-container to the bottom */
.main-content {
    flex-direction: column;
    box-sizing: border-box;
}

/* Form Container Styles */
.form-container {
    background: #ffffff;
    padding: 20px;
    margin: 20px auto; /* Center the form horizontally */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

/* Right-to-left text direction */
.right_to_left {
    direction: rtl;
    text-align: right;
    font-size: 1.2rem;
}

.content {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    background: #ffffff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    margin-bottom: 60px;
    overflow-x: auto;
}

header, footer {
    background-color: #35424a;
    color: #ffffff;
}

header {
    padding: 1rem 0;
}

/* Footer Styles */
footer {
    margin-top: 20px; /* Increase the top margin for more space */
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

/* Navbar Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline-block; /* Change to inline-block for better control */
    margin-right: 20px;
    padding: 10px 15px; /* Add padding for better spacing */
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px; /* Increase font size for better readability */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li a:hover {
    color: #e8491d;
}

/* Heading Styles */
h1 {
    color: #35424a;
    border-bottom: 2px solid #e8491d;
    padding-bottom: 10px;
}

/* Table Styles */
.table-container {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures columns have fixed width */
}

th, td {
    padding: 14px;
    border: 1px solid #ddd;
    text-align: center; /* Center-align the text */
    overflow: hidden;  /* Hide overflowed text */
    

}

th {
    background-color: #35424a; /* Header background color */
    color: white; /* Header text color */
    font-weight: bold; /* Bold header text */
}

/* Zebra striping for table rows */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Scrollable Table Styles */
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Table styles */
.table-container table {
    width: 100%; /* Full width of the container */
    border-collapse: collapse; /* Merge table borders */
}

/* Sticky header row */
.table-container thead {
    position: -webkit-sticky; /* For Safari compatibility */
    position: sticky; /* Sticky positioning for modern browsers */
    top: 0; /* Stick to the top of the container */
    background-color: #ffffff; /* Background color to ensure visibility */
    z-index: 1; /* Ensure the header stays on top */
}

.table-container td {
    /* Ensure text is contained within cell */
    overflow: hidden;  /* Hide overflowed text */
    text-overflow: ellipsis;  /* Add ellipsis */
    white-space: nowrap;  /* Prevent line breaks */
}


/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.card-img-top {
    width: 100%;
    height: auto;
}

/* Hive Container Styles */
.hive-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* Space between items */
}

/* Style for each hive cube */
.hive-cube {
    flex: 1 1 calc(100% - 20px); /* Make each cube take up approximately one-third of the container width minus gap */
    max-width: calc(100% - 20px); /* Ensure cubes do not exceed the calculated width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: #fff; /* Optional: Background color for better visibility */
    border: 1px solid #ddd; /* Optional: Border for better visibility */
    border-radius: 8px; /* Optional: Rounded corners */
    overflow: hidden; /* Ensure that content does not overflow */
}

/* Style for the carousel container within each hive cube */
.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Hive Cube Title */
.hive-cube h3 {
    margin: 0;
    padding: 0.5rem;
    background-color: #f8f9fa;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

/* Carousel Container */
.carousel {
    position: relative;
}

/* Carousel Inner */
.carousel-inner {
    position: relative;
    overflow: hidden;
}

/* Carousel Item */
.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Card Image */
.card-img-top {
    max-width: 100%;
    height: auto;
}

.scrollable-table-container {
    max-height: 150px; /* Adjust height as needed */
    overflow-y: auto;
    margin-top: 15px;
    position: relative; /* This is important for positioning the header */
}

.scrollable-table-container table {
    width: 100%; /* Ensure the table width is 100% */
    border-collapse: collapse;
}

.scrollable-table-container thead {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Stick the header to the top */
    background-color: #f8f9fa; /* Background color to ensure header is visible */
    z-index: 1; /* Make sure the header stays on top of the table body */
    text-align: center; /* Align text to the center */
}

.scrollable-table-container th,
.scrollable-table-container td {
    border: 1px solid #dee2e6; /* Border color */
    padding: 8px; /* Padding inside cells */
    text-align: center; /* Align text to the center */
}

.wide-frame {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-responsive table {
    width: 100%;
    min-width: 500px;  /* Adjust this value as needed */
    margin-bottom: 0;
}

/* Form Styles */
.add-form {
    background: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.add-form h2 {
    margin-top: 0;
}

input[type="text"], input[type="datetime-local"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #35424a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e8491d;
}

.delete-btn {
    background-color: #ff4136;
}

.delete-btn:hover {
    background-color: #dc352d;
}

/* Peak Detection Form Styles */
.peak-detection-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%; /* Ensure form takes full width */
}

.peak-detection-form .form-group {
    flex: 1 1 calc(50% - 20px); /* Two fields per row */
    display: flex;
    flex-direction: column;
}

.peak-detection-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.peak-detection-form input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.peak-detection-form input[type="number"]:focus {
    border-color: #35424a;
    outline: none;
}

.peak-detection-form button {
    background-color: #35424a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
}

.peak-detection-form button:hover {
    background-color: #e8491d;
}

/* Responsive Form */
@media (max-width: 600px) {
    .peak-detection-form .form-group {
        flex: 1 1 100%; /* One field per row on small screens */
    }

    .peak-detection-form button {
        padding: 10px;
        font-size: 14px;
    }
}

.btm-mrgin-section {
    margin-bottom: 40px;
}

/* Modal Styles */
.modal-xl .modal-dialog {
    max-width: 1200px; 
    width: 1200px;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    opacity: 1;
    text-shadow: 0 0 3px rgba(0,0,0,0.8);
}

.narrow-input {
    max-width: 100px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
}

.carousel-item {
    text-align: center;
}

.card {
    margin: 10px;
}

.card-img-top {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.table-responsive {
    margin-top: 20px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table-sm th,
.table-sm td {
    padding: 0.3rem;
}

.table-responsive {
    max-height: 250px;
    overflow-y: auto;
}

.red-bold {
    color: red;
    font-weight: bold;
}

#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Darker background */
    color: #fff; /* Change text color to white for better contrast */
    text-align: center;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-content {
    font-size: 18px;
    max-width: 600px;
    padding: 20px;
    background: #333; /* Darker background for content */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.loading-content h2 {
    margin-bottom: 15px;
    color: #fff; /* Ensure heading text is white */
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navigation-buttons button {
    flex: 1;
    margin: 0 10px; /* Optional: Add some margin between buttons */
}
