/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.right_to_left {
    direction: rtl;
    text-align: right;
    font-size: 1.2rem
}

.content {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    background: #ffffff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    margin-bottom: 60px;
    overflow-x: auto;
}

header, footer {
    background-color: #35424a;
    color: #ffffff;
}

header {
    padding: 1rem 0;
}

/* Footer Styles */
footer {
    margin-top: 40px; /* Increase the top margin for more space */
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

/* Navbar Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;

}

nav ul li {
    display: inline-block; /* Change to inline-block for better control */
    margin-right: 20px;
    padding: 10px 15px; /* Add padding for better spacing */
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px; /* Increase font size for better readability */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li a:hover {
    color: #e8491d;
}

/* Heading Styles */
h1 {
    color: #35424a;
    border-bottom: 2px solid #e8491d;
    padding-bottom: 10px;
}

/* Table Styles */
.table-container {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

th {
    background-color: #35424a;
    color: white;
    font-weight: bold;
    position: relative; /* Required for the sliding effect */
}

th::after {
    content: attr(data-text); /* Reuse the column name for the */
    position: absolute;
    left: 100%; /* Start off-screen */
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Form Styles */
.add-form {
    background: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.add-form h2 {
    margin-top: 0;
}

input[type="text"], input[type="datetime-local"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #35424a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e8491d;
}

.delete-btn {
    background-color: #ff4136;
}

.delete-btn:hover {
    background-color: #dc352d;
}

/* Wikipedia Table Adjustments */
.table-fixed {
    table-layout: fixed; /* Fixed column width */
}

.table-fixed th:nth-child(1),
.table-fixed td:nth-child(1) {
    width: 10%; /* Event Code */
}

.table-fixed th:nth-child(2),
.table-fixed td:nth-child(2) {
    width: 30%; /* Page Title */
}

.table-fixed th:nth-child(3),
.table-fixed td:nth-child(3) {
    width: 20%; /* Language */
}

.table-fixed th:nth-child(4),
.table-fixed td:nth-child(4) {
    width: 20%; /* Views */
}

.table-fixed th:nth-child(5),
.table-fixed td:nth-child(5) {
    width: 20%; /* Actions */
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.card-img-top {
    width: 100%;
    height: auto;
}

/* Hive Container Styles */
.hive-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* Space between items */
}

/* Style for each hive cube */
.hive-cube {
    flex: 1 1 calc(100% - 20px); /* Make each cube take up approximately one-third of the container width minus gap */
    max-width: calc(100% - 20px); /* Ensure cubes do not exceed the calculated width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: #fff; /* Optional: Background color for better visibility */
    border: 1px solid #ddd; /* Optional: Border for better visibility */
    border-radius: 8px; /* Optional: Rounded corners */
    overflow: hidden; /* Ensure that content does not overflow */
}

/* Style for the carousel container within each hive cube */
.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Hive Cube Title */
.hive-cube h3 {
    margin: 0;
    padding: 0.5rem;
    background-color: #f8f9fa;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

/* Carousel Container */
.carousel {
    position: relative;
}

/* Carousel Inner */
.carousel-inner {
    position: relative;
    overflow: hidden;
}

/* Carousel Item */
.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Card Image */
.card-img-top {
    max-width: 100%;
    height: auto;
}

.scrollable-table-container {
    max-height: 150px; /* Adjust height as needed */
    overflow-y: auto;
    margin-top: 15px;
    position: relative; /* This is important for positioning the header */
}

.scrollable-table-container table {
    width: 100%; /* Ensure the table width is 100% */
    border-collapse: collapse;
}

.scrollable-table-container thead {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Stick the header to the top */
    background-color: #f8f9fa; /* Background color to ensure header is visible */
    z-index: 1; /* Make sure the header stays on top of the table body */
    text-align: center; /* Align text to the left */
}

.scrollable-table-container th,
.scrollable-table-container td {
    border: 1px solid #dee2e6; /* Border color */
    padding: 8px; /* Padding inside cells */
    text-align: auto; /* Align text to the left */
}

.wide-frame {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-responsive table {
    width: 100%;
    min-width: 500px;  /* Adjust this value as needed */
    margin-bottom: 0;
}

.carousel-item .card-body {
    padding: 1.25rem;
}

.carousel-item .card {
    height: 100%;
}

/* Form Container Styles */
.form-container {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: flex-start; /* Align form to the left */
}

/* Form Styles */
.peak-detection-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%; /* Ensure form takes full width */
}

.peak-detection-form .form-group {
    flex: 1 1 calc(50% - 20px); /* Two fields per row */
    display: flex;
    flex-direction: column;
}

.peak-detection-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.peak-detection-form input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.peak-detection-form input[type="number"]:focus {
    border-color: #35424a;
    outline: none;
}

.peak-detection-form button {
    background-color: #35424a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
}

.peak-detection-form button:hover {
    background-color: #e8491d;
}

/* Responsive Form */
@media (max-width: 600px) {
    .peak-detection-form .form-group {
        flex: 1 1 100%; /* One field per row on small screens */
    }

    .peak-detection-form button {
        padding: 10px;
        font-size: 14px;
    }
}

.btm-mrgin-section {
    margin-bottom: 40px;
}


/* ---------------------- */
.modal-xl .modal-dialog {
    max-width: 1200px; 
    width: 1200px;
}

/* Modal Styles */
.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}




/* ---------------------- */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    opacity: 1;
    text-shadow: 0 0 3px rgba(0,0,0,0.8);
}



.narrow-input {
    max-width: 100px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
}

.carousel-item {
    text-align: center;
}

.card {
    margin: 10px;
}

.card-img-top {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.table-responsive {
    margin-top: 20px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table-sm th,
.table-sm td {
    padding: 0.3rem;
}
.table-responsive {
    max-height: 250px;
    overflow-y: auto;
}

.red-bold {
    color: red;
    font-weight: bold;
}