{% extends "base.html" %}
{% block title %}Events{% endblock %}
{% block content %}

<div class="right_to_left">
    <h1>אירועים ומקרי חירום</h1>
    <p>בדף זה מוצגת רשימת האירועים ומקרי החירום שנבדקו במסגרת המחקר.
        כל שורה בטבלה מייצגת אירוע מסוים, עם המידע הבא: קוד האירוע, שם האירוע, השפות בהן נבדקו דפי ויקיפדיה הקשורים
        לאירוע, ותאריך ההתחלה שבו החל הניתוח עבור כל אירוע.</p>
    <p>המידע בטבלה זו מסייע לעקוב אחר האירועים שנחקרו, ולזהות את השפות והתאריכים שבהם נאספו הנתונים עבורם.</p>
</div>

<form class="add-form" method="POST">
    <!-- Form content remains the same -->
</form>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Event Code</th>
                <th>Event</th>
                <th>Language</th>
                <th>Created Datetime</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.event_code }}</td>
                <td class="left-align">{{ event.name }}</td>
                <td>{{ event.language }}</td>
                <td>{{ event.created_datetime }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}