{% extends "base.html" %}

{% block title %}Research Results{% endblock %}

{% block content %}
<h1>Research Results</h1>

<!-- Peaks Detection Section -->
<section id="results-carousel" class="btm-mrgin-section">
    <h2>Peaks Detection</h2>
    <p dir="rtl">הניתוח של זיהוי הפסגות מספק תובנות לגבי נתוני סדרות הזמן עבור כל נבדק. המפות החמות למטה מייצגות את הפסגות שזוהו עבור כל נבדק, ומראות את הפסגות שזוהו בנתונים.</p>

    <div class="hive-container">
        <!-- Create carousel for each subject -->
        {% for subject, images in peaks_results.items() %}
        <div class="hive-cube">
            <h3>{{ subject }}</h3>
            <div id="carousel-{{ subject | replace(' ', '-') | replace('–', '-') }}" class="carousel slide">
                <div class="carousel-inner">
                    {% for image in images %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="card">
                            <img src="{{ url_for('static', filename='peaks_figures/' ~ image.filename) }}"
                                class="card-img-top" alt="{{ subject }}"
                                onclick="openModal('{{ url_for('static', filename='peaks_figures/' ~ image.filename) }}')">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel-{{ subject | replace(' ', '-') | replace('–', '-') }}"
                    role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-{{ subject | replace(' ', '-') | replace('–', '-') }}"
                    role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- Peaks Detection Section -->

<!-- Auto-Correlation Section -->
<section id="auto-correlation" class="section btm-mrgin-section">
    <h2>Auto-Correlation Analysis Results</h2>
    <p>הניתוח של אוטו-קורלציה מספק תובנות לגבי הקשרים בין נתוני סדרות הזמן השונות עבור כל נבדק. התרשימים למטה מייצגים את האוטו-קורלציה עבור כל משתנה.</p>

    <div class="hive-container">
        {% for subject, results in auto_corr_results.items() %}
        <div class="hive-cube">
            <h3>{{ subject }}</h3>
            <div id="carousel-auto-correlation-{{ subject | replace(' ', '-') | replace('–', '-') }}"
                class="carousel slide">
                <div class="carousel-inner">
                    {% for result in results %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="card">
                            <img src="{{ url_for('static', filename='auto_corr_figures/' ~ result['auto_corr_plot']) }}"
                                class="card-img-top" alt="Auto-correlation for {{ subject }}"
                                onclick="openModal('{{ url_for('static', filename='auto_corr_figures/' ~ result['auto_corr_plot']) }}')">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev"
                    href="#carousel-auto-correlation-{{ subject | replace(' ', '-') | replace('–', '-') }}"
                    role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next"
                    href="#carousel-auto-correlation-{{ subject | replace(' ', '-') | replace('–', '-') }}"
                    role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- Auto-Correlation Section -->

<!-- Cross-Correlation Section -->
<section id="cross-correlation-carousel" class="btm-mrgin-section">
    <h2>Cross-Correlation Analysis Results</h2>
    <p>הניתוח של קרוס-קורלציה מספק תובנות לגבי הקשרים בין נתוני סדרות הזמן השונות עבור כל נבדק. המפות החמות למטה מייצגות את מטריצות הקורלציה עבור כל נבדק, ומראות כיצד משתנים שונים מקושרים זה לזה.</p>

    <div class="hive-container">
        <!-- Create carousel for each subject -->
        {% for subject, data in cross_corr_results.items() %}
        <div class="hive-cube">
            <h3>{{ subject }}</h3>
            <div id="carousel-cross-correlation-{{ subject | replace(' ', '-') | replace('–', '-') }}"
                class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card">
                            <img src="{{ url_for('static', filename='cross_corr_figures/' ~ data['line_plot']) }}"
                                class="card-img-top" alt="{{ subject }}"
                                onclick="openModal('{{ url_for('static', filename='cross_corr_figures/' ~ data['line_plot']) }}')">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev"
                    href="#carousel-cross-correlation-{{ subject | replace(' ', '-') | replace('–', '-') }}"
                    role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next"
                    href="#carousel-cross-correlation-{{ subject | replace(' ', '-') | replace('–', '-') }}"
                    role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- Cross-Correlation Section -->

<!-- ARIMA Model Section -->
<section id="arima-carousel" class="btm-mrgin-section">
    <h2>ARIMA Analysis Results</h2>
    <div dir="rtl">
        <p>הניתוח של ARIMA מספק תובנות לגבי חיזוי סדרות זמן. כל נבדק מיוצג על ידי טבלה המציגה את הערכים החזויים ואת רווחי הביטחון.</p>
    </div>
    

    <div class="hive-container">
        <!-- Create carousel for each subject -->
        {% for subject, arima_data_list in arima_results.items() %}
        <div class="hive-cube">
            <h3>{{ subject }}</h3>
            <div id="carousel-arima-{{ subject | replace(' ', '-') | replace('–', '-') }}" class="carousel slide">
                <div class="carousel-inner">

                    {% for arima_data in arima_data_list %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="card">
                            <img src="{{ url_for('static', filename='arima_figures/' ~ arima_data['filename']) }}"
                                class="card-img-top" alt="{{ subject }}"
                                onclick="openModal('{{ url_for('static', filename='arima_figures/' ~ arima_data['filename']) }}')">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Forecast Table</h5>
                                <div class="table-responsive">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Mean</th>
                                                <th>CI Lower</th>
                                                <th>CI Upper</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for date, forecast in arima_data['forecast'].iterrows() %}
                                            <tr>
                                                <td>{{ date }}</td>
                                                <td>{{ forecast['Mean'] | round(2) }}</td>
                                                <td>{{ forecast['Mean_CI_Lower'] | round(2) }}</td>
                                                <td>{{ forecast['Mean_CI_Upper'] | round(2) }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <a class="carousel-control-prev"
                    href="#carousel-arima-{{ subject | replace(' ', '-') | replace('–', '-') }}" role="button"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next"
                    href="#carousel-arima-{{ subject | replace(' ', '-') | replace('–', '-') }}" role="button"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- ARIMA Model Section -->

{% endblock %}