{% extends "base.html" %} {% block title %}Welcome{% endblock %} {% block
content %}
<h1>Welcome to the CLB Machine Learning Project</h1>
<p>
    This application facilitates the management of events and Wikipedia pages
    pertaining to emergencies and disasters. Please utilize the navigation above
    to explore the various sections.
</p>

<h2>Purpose of the Study</h2>
<p>
    The objective of this study is to determine whether the traffic on Wikipedia
    pages concerning disasters and emergencies can be utilized to gauge public
    awareness and interest.
</p>

<h2>Research Questions</h2>
<ol>
    <li>
        What factors contribute to the temporary spikes in traffic on disaster
        and
        emergency Wikipedia pages?
    </li>
    <li>
        What is the nature of the relationship between disaster and emergency
        Wikipedia pages in different languages?
    </li>
    <li>
        Is there a correlation between the traffic patterns of various disaster
        and
        emergency Wikipedia pages?
    </li>
    <li>
        Can external factors be leveraged to predict traffic on disaster and
        emergency Wikipedia pages?
    </li>
    <li>
        Is there a significant relationship between Google search trends and the
        view patterns on relevant Wikipedia pages during emergencies and
        disasters?
    </li>
</ol>

<h2>Research Settings</h2>
<p>Please provide the settings in the form below:</p>

<!-- Form Container -->
<div class="form-container">
    <!-- Form for Peak Detection Settings -->
    <form method="POST" action="{{ url_for('research') }}" class="peak-detection-form">
        <div class="row">
            <!-- Peak Detection Section -->
            <div class="col-md-4">
                <div class="form-group">
                    <h3>Peak Detection</h3>
                    <label for="peaks_toFind">How many peaks to find?</label>
                    <input type="number" class="form-control narrow-input" id="peaks_toFind" name="peaks_toFind"
                        placeholder="How many peaks to find?" value="15" max="999" required
                        title="Set the value for amount of peaks detection" />
                </div>
            </div>

            <!-- Auto-Correlation Section -->
            <div class="col-md-4">
                <div class="form-group">
                    <h3>Auto Correlation</h3>
                    <label for="days_to_autocorrelate">How many past days to correlate?</label>
                    <input type="number" class="form-control" id="days_to_autocorrelate" name="days_to_autocorrelate"
                        placeholder="How many past days to correlate?" value="10" required
                        title="Set the number of days to correlate using the Auto-Correlation" />
                </div>
            </div>

            <!-- ARIMA Model Section -->
            <div class="col-md-4">
                <div class="form-group">
                    <h3>ARIMA Model</h3>
                    <label for="days_to_forecast">How many days to forecast?</label>
                    <input type="number" class="form-control" id="days_to_forecast" name="days_to_forecast"
                        placeholder="How many days to forecast?" value="7" required
                        title="Set the number of days to forecast using the ARIMA model" />
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}