{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<h1>Welcome to the CLB Machine Learning Project</h1>
<p>This application facilitates the management of events and Wikipedia pages pertaining to emergencies and disasters. Please utilize the navigation above to explore the various sections.</p>

<h2>Purpose of the Study</h2>
<p>The objective of this study is to determine whether the traffic on Wikipedia pages concerning disasters and emergencies can be utilized to gauge public awareness and interest.</p>

<h2>Research Questions</h2>
<ol>
    <li>What factors contribute to the temporary spikes in traffic on disaster and emergency Wikipedia pages?</li>
    <li>What is the nature of the relationship between disaster and emergency Wikipedia pages in different languages?</li>
    <li>Is there a correlation between the traffic patterns of various disaster and emergency Wikipedia pages?</li>
    <li>Can external factors be leveraged to predict traffic on disaster and emergency Wikipedia pages?</li>
    <li>Is there a significant relationship between Google search trends and the view patterns on relevant Wikipedia pages during emergencies and disasters?</li>
</ol>
{% endblock %}
