{% extends "base.html" %}
{% block title %}Wiki Traffic Data{% endblock %}
{% block content %}

<div class="right_to_left">
    <h1>נתוני תעבורת ויקיפדיה</h1>
    <p>בטבלה זו מוצג מידע על כמות הצפיות היומית לדפי ויקיפדיה הקשורים לאירועים שונים. כל עמודה מייצגת דף ויקיפדיה בשפה ספציפית, והערכים בתאים מייצגים את כמות הצפיות שהתקבלו עבור הדף ביום מסוים. השורות בטבלה מסודרות לפי תאריכים, ומציגות את התפלגות הצפיות לאורך זמן עבור דפי ויקיפדיה של האירועים הנחקרים.</p>
    <p>לדוגמה, בטבלה ניתן לראות את מספר הצפיות עבור הדפים על פיגוע במנצ'סטר ארנה, מלחמת ישראל-חמאס, ויריות על שארלי הבדו, בכל אחת מהשפות הנלמדות (אנגלית, ערבית, עברית, צרפתית). כל שורה מייצגת יום מסוים, ומציגה את נתוני הצפיות עבור כל דף באותו יום. זה מאפשר לעקוב אחר השינויים בהענות הציבורית לדפי הוויקיפדיה לאורך זמן, ולבחון מגמות וטרנדים בשימוש במידע.</p>

</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                {% for column in columns %}
                <th data-text="{{ column }}">{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for column in columns %}
                <td>{{ row[column] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}