{% extends "base.html" %}
{% block title %}Wikipedia Pages{% endblock %}
{% block content %}

<div class="right_to_left">
    <h1>דפי ויקיפדיה</h1>
    <p>בטבלה זו ניתן לראות את הגדרות דפי ויקיפדיה שנבדקו במחקר עבור כל אחד מהאירועים המוזכרים. הטבלה מציגה את שם הדף,
        השפה בה הוא מופיע, ומספר הצפיות שהתקבלו בדף באותה שפה. כל שורה בטבלה מתייחסת לדף ויקיפדיה ספציפי עבור אירוע
        מסוים, ומאפשרת לעקוב אחר הביקוש למידע והעניין הציבורי באירועים אלו לפי שפה.
    </p>
    <p> המידע בטבלה זו חשוב כדי להבין את הפיזור הגלובלי של העניין באירועים ואת רמת החשיפה שהתקבלה בכל שפה.</p>
</div>


<table class="table-fixed">
    <thead>
        <tr>
            <th>Event Code</th>
            <th>Page Title</th>
            <th>Language</th>
            <th>Views</th>
        </tr>
    </thead>
    <tbody>
        {% for page in pages %}
        <tr>
            <td>{{ page.event_code }}</td>
            <td class="left-align">{{ page.title }}</td>
            <td>{{ page.language }}</td>
            <td>{{ page.views }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}